body {
    background-color: $black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    
    .page-content {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .dotmatrix-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            grid-row-gap: $dotmargin;

            .dotmatrix-line-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                grid-row-gap: $dotmargin;

                .row-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                    grid-column-gap: $dotmargin;
    
                    .dot {
                        width: $dotsize;
                        height: $dotsize;
                        background-color: $passive;
                        border-radius: 50%;
    
                        &.active {
                            background-color: $active;
                        }
                    }
                }
            }
        }
    }
}